@import "../variables";

.hello:before {
  content: '';
  width: 0;
  height: 0;
  top: 100%;
  left: 5px;
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent;
  border-left-color: blue;
}

.hello {
  background-color: blue;
  padding: 4px;
  color: white;
  font-size: 0.6em;
  position: absolute;
  bottom: calc(100% + 12px);
  left: 0;
}

.name {
  margin-top: 45px;
  position: relative;
}

.main {
  display: flex;
}

.picture {
  padding: 20px;
}

.info {
  flex: 1.5;
  padding: 20px;
}

.info_lead {

}

.list {
  padding: 0;

  &_item {
    position: relative;
    list-style: none;
    margin-bottom: $padding;
  }

  &_item_label {
    position: absolute;
  }

  &_item_value {
    display: inline-block;
    padding-left: 90px;
  }
}

.footer {
  padding: 20px 0;
  text-align: center;
}