@import "../variables";

.imageContainer {
  margin-bottom: $padding;
}

.content {
  max-width: $max-width-paragraph;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: $padding;
}

.date {
  display: block;
  content: '';
  height: 2px;
  margin-top: $padding;
  margin-bottom: $padding;
}