@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

html,
body {
  font-size: 100%;
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: var(--font-color);
}

%mui-display {
  max-width: var(--max-width-paragraph);
  font-size: 2.125em;
  line-height: 1.176;
  font-weight: normal;
  margin-top: 0;
}

%mui-headline {
  max-width: var(--max-width-paragraph);
  font-size: 1.500em;
  line-height: 1.33333333;
  font-weight: normal;
  margin-top: 0;
}

%mui-title {
  max-width: var(--max-width-paragraph);
  font-size: 1.250em;
  line-height: 1.33333333;
  letter-spacing: 0.005em;
  font-weight: normal;
  margin-top: 0;
}

%mui-subheading {
  max-width: var(--max-width-paragraph);
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin-top: 0;
}

%mui-body {
  max-width: var(--max-width-paragraph);
  font-size:  0.875em;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin-top: 0;
}

%fancy-button {
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

h1 {
  @extend %mui-display;
}

h2 {
  @extend %mui-headline;
}

h3 {
  @extend %mui-title;
}

p  {
  @extend %mui-subheading;
}

small {
  @extend %mui-body;
}

button {
  @extend %fancy-button;
}