@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import './variables';

html,
body {
  font-size: $font-size-base;
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: $font-color;
}



%display {
  max-width: $max-width-paragraph;
  font-size: 2.125em;
  line-height: 1.176;
  font-weight: normal;
  margin-top: 0;
}

%headline {
  max-width: $max-width-paragraph;
  font-size: 1.500em;
  line-height: 1.33333333;
  font-weight: normal;
  margin-top: 0;
}

%title {
  max-width: $max-width-paragraph;
  font-size: 1.250em;
  line-height: 1.33333333;
  letter-spacing: 0.005em;
  font-weight: normal;
  margin-top: 0;
}

%subheading {
  max-width: $max-width-paragraph;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin-top: 0;
}

.body {
  max-width: $max-width-paragraph;
  font-size: $font-size-body;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin-top: 0;
}

.button {
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

h1 {
  @extend %display;
}

h2 {
  @extend %headline;
}

h3 {
  @extend %title;
}

p  {
  @extend %subheading;
}

small {
  @extend .body;
}

button {
  @extend .button;
}