/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *@import "~normalize.css";
 */



$max-width: 760px;
$max-width-paragraph: 760px;
$padding: 12px;

// Custom Colors
$cyan: #33e0ff;
$humility: #777;

// Bootstrap Variables
$brand-primary: darken(#428bca, 6.5%);
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

$font-color: rgba(0, 0, 0, 0.87);
$font-color-light: rgba(255, 255, 255, 0.87);

$footer-background: rgb(33, 33, 33);

$font-size-base: 100%;
$font-size-body: 0.875em;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
