@import '../typography';

.self {
  flex-basis: 50%;
  flex-shrink: 1;
  flex-grow: 0;
}

@define-mixin arrow $direction: left {
  position: relative;



  &:after,
  &:before {
    $(direction): 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(136, 183, 213, 0);
    border-$(direction)-color: #88b7d5;
    border-width: 20px;
    margin-top: -20px;
  }

  &:before {
    border-color: rgba(194, 225, 245, 0);
    border-$(direction)-color: #c2e1f5;
    border-width: 26px;
    margin-top: -26px;
  }
}

.triangle {
  display: inline-block;
  transform: scaleX(2.5);
  color: #BADA55;
  text-shadow:
    0 2px 2px rgba(255,255,255,0.7),
    0 10px 4px rgba(0,0,0,0.5);
  font-size: 32px;
}

.left {
  border-left: 40px transparent solid;
  @mixin arrow right;
}

.right {
  border-right: 40px transparent solid;
  @mixin arrow left;
}

.paper {
  border-top: 3px solid var(--primary1Color);
  padding: 20px;
  margin-bottom: 30px;
}

.dates {
  color: var(--primary1Color);
  padding-bottom: 15px;
}

.title {
  @extend mui-headline;
}

.strapline {
  @extend mui-title;
}

.body {
}
