@import '../variables';

.self {
  margin-top: $padding;
  background-color: $footer-background;
  text-align: center;
  padding: $padding;
}

.copyright {
  margin-bottom: 0;
  color: $font-color-light;
  display: inline-block;
}